.viewer-container {
  width: 100vw;
  height: 100vh;
}

.test-button {
  position: relative;
  z-index: 900;
}

.cesium-sceneModePicker-button3D, .cesium-viewer-bottom {
  display: none !important;
}

